
    <div class="card">
        <h2>LOGIN</h2>

        <!-- SE CONNECTER / S'INSCRIRE -->
        <div class="login_register">
            <a href="
             https://codepen.io/pen?template=gOEqMVq
            " class="login" target="blank">Login</a>
            <a href="/front-end/src/app/pages/" class="register" target="blank">Signup</a>
        </div>

        <!-- FORMULAIRE -->
        <form class="form">
            <input type="email" name="email" [(ngModel)]="requestLogin.email" placeholder="Email Adress" class="email">
            <input type="password" name="password" [(ngModel)]="requestLogin.password" placeholder="Password" class="pass">
        </form>

        <!-- MOT DE PASSE OUBLIE ? -->
        <a href="#" class="fp">Forgot password?</a>

        <!-- BOUTTON LOGIN -->
        <button type="button" (click)="onLogin()" class="login_btn">Login</button>

        <!-- PIED DE LA CARD -->
        <div class="footer_card">
            <p>Not a member?</p>
            <a href="#">Signup now</a>
        </div>
    </div>
